:root{
    --white:#f7f2ee;
    --black:#000000;
    --brown:#341d08;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Bricolage Grotesque', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    position: relative;

    
}
.division1{
    width: 88%;
    height: 20px;
    position: absolute;
    top: 99vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--brown);
    border-radius: 20px;
    box-shadow: inset 1px 0 10px var(--black);
    box-shadow: 1px 0 5px var(--black);


}

.division2{
    width: 88%;
    height: 20px;
    position: absolute;
    top: 199vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--brown);
    border-radius: 20px;
    box-shadow: inset 1px 0 10px var(--black);
    box-shadow: 1px 0 5px var(--black);
}

.division3{
    width: 88%;
    height: 20px;
    position: absolute;
    top: 399vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--brown);
    border-radius: 20px;
    box-shadow: inset 1px 0 10px var(--black);
    box-shadow: 1px 0 5px var(--black);
}

body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--brown);
    border-radius: 3px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--brown); 
}

header{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: var(--brown);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px; /* Raio de canto inferior esquerdo */
    border-bottom-right-radius: 20px; /* Raio de canto inferior direito */

}

header h1{
    margin-left: 40px;
}
header h1 a{
    color: var(--white);
}
header nav{
    display: flex;
    margin-right: 40px;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    align-items: center;
}
header nav a{
    color: var(--white);
    font-weight: 800;
    position: relative;
    padding-block: 20px;
    
}

header nav a::after{
    position: absolute;
    content: " ";
    width: 0;
    height: 2px;
    background: var(--white);
    bottom: 25%;
    left: 0;
    transition: 0.3s ease-in-out;

}
header nav a:hover::after{
    width: 100%;
}


ul.social-icons{
    position: absolute;
    left: 0;
    top: 50%;
}
.social-icons .linkedin{
    margin: 10px 0;
}
.social-icons .linkedin a{
    color: var(--white);
    height: 60px;
    line-height: 60px;
    display: flex;
}

.social-icons .linkedin a span:nth-child(2){
    background: var(--brown);
    width: 60px;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
}
.social-icons .linkedin a span:nth-child(1){
    width: 0;
    height: 100%;
    background: var(--brown);
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 0;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 0 50px 50px 0;
    transition: 0.3s ease-in-out;

}
.social-icons .linkedin a:hover span:nth-child(1){
    width: 180px;
    padding-left: 20px;
}

.social-icons .github{
    margin: 10px 0;
}
.social-icons .github a{
    color: var(--white);
    height: 60px;
    line-height: 60px;
    display: flex;
}

.social-icons .github a span:nth-child(2){
    background: var(--brown);
    width: 60px;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
}
.social-icons .github a span:nth-child(1){
    width: 0;
    height: 100%;
    background: var(--brown);
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 0;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 0 50px 50px 0;
    transition: 0.3s ease-in-out;

}
.social-icons .github a:hover span:nth-child(1){
    width: 180px;
    padding-left: 20px;
}
.sect-inicio{
    position: relative;
    height: 100vh;
    width: 100%;

}
.first-img{
    border-radius: 90px;
    border: 8px solid var(--black);
    max-height: 600px;
    background: var(--brown);
    transition: 0.4s ease-in-out;
}

.first-img:hover{
    border: 8px solid var(--white);
    box-shadow: inset 0 0 8px var(--black);
    box-shadow:  0 0 8px var(--brown);
}
.inicio-content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inicio-myintrod .primeiro{
    font-size: 30px;
}
.inicio-myintrod .segundo{
    font-size: 85px;
}
.inicio-myintrod .terceiro{
    font-size: 40px;
}
.inicio-btns{
    margin-top: 40px;
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.inicio-btns a {
    padding: 15px;
    background: var(--brown);
    border-radius: 25px;
    color: var(--white);
    font-weight: 800;
    position: relative;
    transition: 0.3s ease-in-out;
    
}

.inicio-btns a::before,
.inicio-btns a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 25px;
    pointer-events: none;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.inicio-btns a:hover::before {
    border-color: var(--white);
}

.inicio-btns a:hover::after {
    box-shadow: 0 0 10px var(--brown); 
}



.sect-sobre{

    height: 100vh;
    width: 100%;
}
.sobre-content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre-text{
    width: 50%;
}
.sobre-title{
    font-size: 65px;
}
.sobre-body{
    font-size: 20px;
    padding: 30px;
    border: 3px solid var(--brown);
    border-radius: 20px;
}

.sobre-body span{
    font-weight: 800;
    color: var(--brown);

}

.sect-projetos{
    height: 200vh;
    width: 100%;
}
.projetos-content{
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projetos-title{
    margin-top: 30px;
    font-size: 40px;
}


.btn-vermais{
    margin-top: 25px;

}
.btn-vermais a {
    padding: 18px;
    background: var(--brown);
    font-size: 20px;
    border-radius: 15px;
    color: var(--white);
    font-weight: 800;
    position: relative;
    transition: 0.3s ease-in-out;
    
}

.btn-vermais a::before,
.btn-vermais a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 15px;
    pointer-events: none;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.btn-vermais a:hover::before {
    border-color: var(--white);
}

.btn-vermais a:hover::after {
    box-shadow: 0 0 10px var(--brown); 
}


.projetos-cards{
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 10px;
    padding: 30px;
}
.card{
    width: 300px;
    height: 350px;
    display: flex;
    padding: 6px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 3px solid var(--brown);
}
.body-desc{
    font-size: 16px;
}

.body-btn{
    margin-top: 25px;

}
.body-btn a {
    padding: 10px;
    background: var(--brown);
    border-radius: 15px;
    color: var(--white);
    font-weight: 800;
    position: relative;
    transition: 0.3s ease-in-out;
    
}

.body-btn a::before,
.body-btn a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 15px;
    pointer-events: none;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.body-btn a:hover::before {
    border-color: var(--white);
}

.body-btn a:hover::after {
    box-shadow: 0 0 10px var(--brown); 
}

.body-techs{
    font-size: 20px;
    margin-top: 18px;
}

.body-techs i{
    padding: 7px;
    border-radius: 5px;
    background: var(--brown);
    color: var(--white);
}


.card-img img{
    height: 130px;
    border: 3px solid var(--brown);
    border-radius: 8px;
    
}


.sect-contatos{
    height: 100vh;
    width: 100%;
}
.contatos-content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.contatos-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 60%;
    width: 50%;
}

.contatos-title{
    font-size: 50px;
}

.contatos-github{
    display: flex;
}

.github-icon{
    padding: 15px;
    color: var(--white);
    border-radius: 15px;
    background: var(--brown);
    font-size: 30px;
    margin-right: 20px;
}
.github-url{
    padding: 15px 25px;
    border-radius: 15px;
    background: var(--brown);
    color: var(--white);
    font-size: 30px;
}
.github-url a{
    color: var(--white);
}

.contatos-linkedin{
    display: flex;
}

.linkedin-icon{
    padding: 15px;
    color: var(--white);
    border-radius: 15px;
    background: var(--brown);
    font-size: 30px;
    margin-right: 20px;
}
.linkedin-url{
    padding: 15px 25px;
    border-radius: 15px;
    background: var(--brown);
    color: var(--white);
    font-size: 30px;
}
.linkedin-url a{
    color: var(--white);
}


.contatos-email{
    display: flex;
}
.contatos-codepen{
    display: flex;
}