:root{
    --white:#f4ede7;
    --black:#000000;
    --brown:#341d08;
}

body{
    font-family: 'Vollkorn', serif;
    width: 100vw;
    overflow-x: hidden;
    
}
body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--brown);
    border-radius: 8px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--brown); 
}

header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: var(--brown);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

}

.sect-inicio{
    margin-top: 80px;
    position: relative;
    height: 100vh;
    width: 100vw;
}
ul.social-icons{
    position: absolute;
    left: 0;
    top: 50%;
}
.social-icons .linkedin{
    margin: 10px 0;
}
.social-icons .linkedin a{
    color: var(--white);
    height: 60px;
    line-height: 60px;
    display: flex;
}

.social-icons .linkedin a span:nth-child(2){
    background: #1877f2;
    width: 60px;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
}
.social-icons .linkedin a span:nth-child(1){
    width: 0;
    height: 100%;
    background: #1877f2;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 0;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 0 50px 50px 0;
    transition: 0.3s ease-in-out;

}
.social-icons .linkedin a:hover span:nth-child(1){
    width: 180px;
    padding-left: 20px;
}

.social-icons .github{
    margin: 10px 0;
}
.social-icons .github a{
    color: var(--white);
    height: 60px;
    line-height: 60px;
    display: flex;
}

.social-icons .github a span:nth-child(2){
    background: var(--black);
    width: 60px;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
}
.social-icons .github a span:nth-child(1){
    width: 0;
    height: 100%;
    background: var(--black);
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 0;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 0 50px 50px 0;
    transition: 0.3s ease-in-out;

}
.social-icons .github a:hover span:nth-child(1){
    width: 180px;
    padding-left: 20px;
}




.first-img{
    border-radius: 50%;
    max-height: 600px;
}